<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>form testing</title>
</head>
<body>
	
	<form 
	  method="POST" 
	  action="https://script.google.com/macros/s/AKfycbw5Z1HwkgvZKqJhPE9Wt40DJmTdRwwfZhjxkvCvQ2GGysAfHHwURctSVieWevfguJzdIA/exec"
	>
	  <input name="Email" type="email" placeholder="Email" required>
	  <input name="Name" type="text" placeholder="Name" required>
	  <button type="submit">Send</button>
	</form>

</body>
<script type="text/javascript">
</script>
</html>