{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule of Talks</title>
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" href="{% static 'schedule.css' %}">
</head>
<body>
<!-- Navigation -->
    <nav class="navbar">
        <div class="nav-links">
            <a href="/" class="nav-item">Home</a>
            <a href="/about" class="nav-item">About</a>

        </div>
        <!--<div class="logo">Logo</div> -->
        <div class="nav-right">
            <div class="dropdown">
                <div class="dropbtn">Schedule ▾</div>
                <div class="dropdown-content">
                    <a href="/schedule">Day 1</a>
                    <a href="/schedule">Day 2</a>
                    <a href="/lecture">Ed Witten's Lecture</a>
                </div>
            </div>
            <a href="/attendees" class="nav-item">Attendees</a>
            <a href="/register"> <button class="register-btn">Register</button></a>
        </div>
    </nav>

<!--Container for Body-->
    <div class="container">
        <div class="title">Events Schedule</div>
    </div>
</body>
</html>